


.date-select-container {
	display: flex;
	align-items: center;
	position: relative;
}

.date-select-container:hover, .date-select:hover {
	cursor: pointer;
	

}


.date-select-container::before {
	content: '';
	position: absolute;
	width: 100%;
	width: .5rem;
	height: .5rem;
	border-bottom: 1.2px solid black;
	border-left: 1.2px solid black;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform: rotate(-45deg) translate(0%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms;
	right: 10px;
	margin-bottom: 6px;
  }

.date-select {

	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;

	/* ... */
	width: 100%;
	height: 40px;
	/* 	padding-left: 10px; */
	padding: 7px 30px;
	border: 1px solid var(--secondary-color);
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	font-size: .9rem;
}



.date-select-container:hover  {
	font-size: 10px;	
}


.date-select:active, .date-select:focus {
	outline: none
}

.date-select::-ms-expand {
	display: none;
  }

