.header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
 

  .logo-container {
    height: 100%;
    width: 20%;
    padding: 20px;

    font-size: 1.5rem;
    font-weight: bold;

    span {
      color: rgb(139, 0, 81);
      padding: 0px 0.5px;
    }
  }

  .options {
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
      text-align: left;
  }

  .option {
    padding: 10px 15px;
    cursor: pointer;
    
    &:hover {
        border-bottom: 2px solid black;
    }
  }
}
